@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared styles */
main {
  max-width: 1000px;
  margin: 0 auto;
}
.dark-1 {
  color: #131313;
}
.dark-2 {
  color: #424242;
}
.dark-3 {
  color: #727272;
}
.orange {
  color: #ff900e;
}
.brand {
  font-size: 30px;
  font-weight: bold;
}
.des-primary {
  font-size: 12px;
  line-height: 20px;
}
.btn-primary {
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  background-color: #ff900e;
  border: none;

  border-radius: 8px;
  padding: 14px 16px;
}
/* header styles */
header {
  background-color: rgba(255, 144, 14, 0.1);
}
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 2rem;
  margin-bottom: 4.15rem;
}
.nav-bar ul {
  display: flex;
  gap: 30px;
}
.nav-item {
  list-style: none;
}
.nav-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.75rem;
}
.banner {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.banner-contents h1 {
  font-size: 2.65rem;
}
.banner-contents {
  max-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 22px;
}
.hero-img {
  width: 100%;
  margin-bottom: 20px;
}
.team-img img {
  max-width: 14rem;
}
.team-and-feature {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}
.team-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.005rem;
}
.our-features {
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
  align-items: flex-start;
}
.feature-title {
  font-size: 1.9rem;
}

/* some-features section styles */
.some-features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}
.feature-content > h1 {
  border-left: #ff900e 5px solid;
  padding: 0.8rem;
  margin-bottom: 15px;
}
.feature-content > p {
  margin-bottom: 15px;
}

.feature-card > p {
  margin-top: 12px;
}
.feature-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.feature-card {
  padding: 20px;
  border: none;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 14px;
  border-radius: 6px;
}

.exp-badge {
  background-color: #ff900e;
  border: none;
  border-radius: 7px;
  padding: 30px 28px;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: -100px;
  margin-left: -60px;
}
.exp-badge > p {
  font-size: 2.65rem;
  font-weight: bold;
}

/* responsive */
@media screen and (max-width: 576px) {
  .nav-bar {
    flex-direction: column;
    gap: 20px;
  }
  .team-and-feature {
    flex-direction: column-reverse;
    align-items: center;
  }
  .our-features {
    align-items: center;
    text-align: center;
  }
  .team-img {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.005rem;
  }
  .some-features {
    flex-direction: column;
    text-align: left;
    max-width: 576px;
  }
  .exp-badge {
    margin: 10px 0 0 0;
  }
  .experience-box > img {
    max-width: 100%;
  }
  .experience-box {
    text-align: center;
  }
}
