@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --dark-2: rgba(58, 58, 58, 1);
}
/* shared style */

.font-inter {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.font-manrope {
  font-family: "Manrope", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-primary {
  background-color: rgba(224, 44, 109, 1);
  color: white;
  font-size: 0.89rem;
  font-weight: bold;
  padding: 10px 16px;
  border: none;
  border-radius: 40px;
}
.des-primary {
  color: var(--dark-2);
  font-size: 0.89rem;
  font-weight: 500;
}
/* nav styles */
header {
  max-width: 1100px;
  margin: 0 auto;
}
.brand {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 21px;
}
.right-nav {
  display: flex;
  gap: 1.87rem;
}
.right-nav i,
.menu i {
  font-size: 1.5rem;
}
.menu {
  display: none;
}
.right-nav a {
  text-decoration: none;
  color: var(--dark-2);
  font-size: 0.88rem;
  font-weight: 500;
}
.nav-bar {
  margin-top: 65px;
  margin-bottom: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* banner */
.hero-title {
  color: var(--dark-2);
  font-size: 2.89rem;
  font-weight: bold;
  line-height: 3.89rem;
  margin-bottom: 0.89rem;
}
.banner-contents > button {
  margin-top: 1rem;
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 7.39rem;
  background-image: url(/influencer-gear/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  margin-bottom: 57px;
}
.banner img {
  width: 400px;
}
/* sponsors */
.sponsors-container img {
  width: 100%;
}
.sponsors-container {
  padding: 2rem 4rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  gap: 3.33rem;
  border: 1px solid rgba(96, 96, 96, 0.37);
  margin-bottom: 5.56rem;
}

/* responsive section */
@media screen and (max-width: 576px) {
  .menu {
    display: inline;
  }
  .right-nav a {
    display: none;
  }
  /* hero section */
  .banner {
    flex-direction: column-reverse;
    background-position: top;
    text-align: center;
  }
  .hero-title {
    font-size: 1.56rem;
    line-height: 2rem;
  }
  /* sponsors */
  .sponsors-container {
    border: none;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(2,1fr); */
    column-gap: 1.72rem;
    row-gap: 1rem;
  }
}
